# production development test
NODE_ENV=development
PORT = 3000

MONGODB_URL = mongodb://127.0.0.1:27017/ts_db

# SMTP configuration
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

JWT_SECRET=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJNdWtlc2ggU3V0aGFyIiwiVXNlcm5hbWUiOiJjb2RlLm1hYyIsImV4cCI6MTYzNzg0NTU4MywiaWF0IjoxNjM3ODQ1NTgzfQ.hGnx5snWiwiMOLvbZgPrDoFQnxGLrxyI4vhbr8LnHEo
JWT_ACCESS_EXPIRATION_DAYS=30
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=3
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=3